@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
.Main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.Main__container--nav {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  column-gap: 10px;
  padding: 30px 20px;
}
.Main__container--nav img {
  width: 80px;
}
.Main__container--nav a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.Main__container--section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 30px;
  padding: 30px 20px;
  grid-template-areas: "image" "title" "text" "form";
}
.Main__container--section1 img {
  width: 100%;
  height: 100%;
  grid-area: image;
}
.Main__container--section1 h1, .Main__container--section1 p {
  text-align: center;
}
.Main__container--section1 h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 37px);
  line-height: 1.6;
  color: #070439;
  grid-area: title;
}
.Main__container--section1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 22px);
  line-height: 1.5;
  width: 102%;
  color: #585989;
  grid-area: text;
  text-align: center;
}
.Main__container--section1 form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  row-gap: 20px;
  grid-area: form;
}
.Main__container--section1 form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.Main__container--section1 form input[type=email] {
  color: #585989;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Main__container--section1 form input[type=submit] {
  color: #f6f6fe;
  background: #3065f8;
  border: none;
  box-shadow: 2px 5px 16px 0px #585989;
}

.Main__container--section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  row-gap: 30px;
  padding: 30px 20px;
  grid-template-areas: "image" "title" "text" "link" "commit";
}
.Main__container--section2 img {
  width: 100%;
  height: 100%;
  grid-area: image;
}
.Main__container--section2 p {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.5;
  color: #585989;
  grid-area: text;
}
.Main__container--section2 h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 2vw, 37px);
  line-height: 1.6;
  color: #070439;
  grid-area: title;
}
.Main__container--section2 div:nth-child(4) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 5px;
  column-gap: 10px;
  grid-area: link;
  grid-template-areas: "text img";
}
.Main__container--section2 div:nth-child(4) img {
  width: 20px;
  height: 20px;
  grid-area: img;
}
.Main__container--section2 div:nth-child(4) a {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #3c9f8f;
  grid-area: text;
}
.Main__container--section2 div:nth-child(5) {
  display: grid;
  grid-area: commit;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "paragraph paragraph" "img title" "img subtitle";
  padding: 15px;
  column-gap: 15px;
  border: 1px solid #ccc;
  box-shadow: -5px 2px 19px -1px #827c7c;
  -webkit-box-shadow: -5px 2px 19px -1px #827c7c;
  -moz-box-shadow: -5px 2px 19px -1px #827c7c;
}
.Main__container--section2 div:nth-child(5) p {
  grid-area: paragraph;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #070439;
  padding-bottom: 20px;
}
.Main__container--section2 div:nth-child(5) img {
  grid-area: img;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Main__container--section2 div:nth-child(5) h3 {
  grid-area: title;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #070439;
}
.Main__container--section2 div:nth-child(5) span {
  grid-area: subtitle;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #070439;
}

.Main__container--section3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  grid-template-areas: "title" "paragraph" "form";
  row-gap: 20px;
  background: #585989;
  padding: 0px 20px;
}
.Main__container--section3 h4 {
  grid-area: title;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 30px);
  color: #f6f6fe;
  padding-top: 50px;
}
.Main__container--section3 p {
  grid-area: paragraph;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  color: #f6f6fe;
  text-align: center;
  line-height: 1.6;
}
.Main__container--section3 form {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-area: form;
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  padding-bottom: 50px;
}
.Main__container--section3 form input {
  width: 90%;
  height: 40px;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.Main__container--section3 form input[type=email] {
  border: 1px solid #ccc;
  color: #585989;
}
.Main__container--section3 form input[type=submit] {
  width: 40%;
  height: 40px;
  color: #f6f6fe;
  background: #3065f8;
  border: none;
  box-shadow: 2px 5px 10px 0px #070439;
}

.Main__container--section4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 50px;
  background: #070439;
  padding: 30px;
  grid-template-areas: "img" "contact" "links1" "links2" "socialnetworks";
}
.Main__container--section4 p, .Main__container--section4 a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f6f6fe;
  line-height: 1.6;
}
.Main__container--section4 img:nth-child(1) {
  grid-area: img;
}
.Main__container--section4 div:nth-child(2) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: "icon1 text1" "icon2 text2";
  grid-area: contact;
}
.Main__container--section4 div:nth-child(2) img:nth-child(1) {
  grid-area: icon1;
}
.Main__container--section4 div:nth-child(2) p:nth-child(2) {
  grid-area: text1;
}
.Main__container--section4 div:nth-child(2) img:nth-child(3) {
  grid-area: icon2;
}
.Main__container--section4 div:nth-child(2) p:nth-child(4) {
  grid-area: text2;
}
.Main__container--section4 div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 20px;
  grid-area: links1;
}
.Main__container--section4 div:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  grid-area: links2;
}
.Main__container--section4 div:nth-child(5) {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  justify-content: center;
  display: grid;
  column-gap: 35px;
  grid-area: socialnetworks;
}
.Main__container--section4 div:nth-child(5) input {
  border: 1px solid #f6f6fe;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .Main__container--nav, .Main__container--section1, .Main__container--section2 {
    padding: 30px 50px;
  }

  .Main__container--section1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "title image" "text image" "form image";
    column-gap: 30px;
  }
  .Main__container--section1 h1, .Main__container--section1 p {
    text-align: left;
  }
  .Main__container--section1 form {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    column-gap: 20px;
  }
  .Main__container--section1 form input[type=email] {
    width: 100%;
  }
  .Main__container--section1 form input[type="submit "] {
    width: 70%;
  }

  .Main__container--section2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title image" "text image" "link image" "commit image";
    justify-items: start;
    column-gap: 30px;
  }
  .Main__container--section2 div:nth-child(5) {
    width: 80%;
  }

  .Main__container--section3 {
    grid-template-columns: 48% 45%;
    grid-template-rows: repeat(2, auto);
    justify-items: start;
    grid-template-areas: "title form" "paragraph form";
    padding: 50px 30px;
    column-gap: 200px;
  }
  .Main__container--section3 form {
    padding: 0px;
    justify-items: start;
  }
  .Main__container--section3 form input[type=email] {
    width: 75%;
  }
  .Main__container--section3 form input[type="submit "] {
    width: 200px;
  }
  .Main__container--section3 h4, .Main__container--section3 p {
    text-align: left;
    padding-top: 0;
  }

  .Main__container--section4 {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "img img img img" "contact links1 links2 socialnetworks";
  }
  .Main__container--section4 div:nth-child(2) {
    grid-template-rows: repeat(4, 1fr);
  }
}
.containerFooter {
  display: grid;
  justify-items: center;
  background: #000;
  width: 100%;
  padding: 10px;
}
.containerFooter h3 {
  color: #fff;
  text-align: center;
}
.containerFooter a {
  color: #FF3F00;
  text-transform: capitalize;
  text-decoration: none;
}
.containerFooter:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */